<h1><%= @astronaut.name %></h1>



<div id="missions">
  <h3>Missions:</h3>
  <% @astronaut.missions.each do |mission| %>
    <%= mission.title %><br>
  <% end %>
</div>

<h3>Add a Mission</h3>
<%= form_with url: "/astronauts/#{@astronaut.id}", method: :get, local: :true do |f| %>
  <%= f.label "Enter Mission ID" %>
  <%= f.text_field :added_mission %>
  <%= f.submit "Add Mission" %>
<% end %>